.table-users-cont {
  padding: 1rem;
  margin-top: 3rem;
}

.inactive-cell {
  color: white;
  background-color: red;
  padding: 4px;
  border-radius: 4px;
  font-weight: bolder;
}

.active-cell {
  color: white;
  background-color: green;
  padding: 4px;
  border-radius: 4px;
  font-weight: bolder;
}