.table-users-cont {
  margin: 1rem;
}

.inactive-cell {
  color: white;
  background-color: red;
  padding: 4px;
  border-radius: 4px;
  font-weight: bolder;
}
.active-cell {
  color: white;
  background-color: green;
  padding: 4px;
  border-radius: 4px;
  font-weight: bolder;
}
