.actions-cont {
    display: flex;
}

.action-buttons {
    background-color: #e8bc71 !important;
}

.table-products-cont {
    padding: 1rem;
    margin-top: 3rem;
}

.product-status-active {
    color: white;
    background-color: green;
    padding: 4px;
    border-radius: 4px;
    font-weight: bolder;
}

.product-status-inactive {
    color: white;
    background-color: red;
    padding: 4px;
    border-radius: 4px;
    font-weight: bolder;
}

.filters-elements-cont span {
    display: flex;
    float: right;
    margin: 1rem 0rem 1rem 0rem;
}

table img {
    height: 3rem;
    width: 3rem;
}